@font-face {
    font-family: "Bagel Fat One";
    src: url("./fonts/BagelFatOne-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #332B2A;
    color: #fff;
    font-family: "Bagel Fat One", sans-serif;
}

canvas {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#p5_loading {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

button {
    margin: auto;
    padding: 0;
    padding-bottom: 55px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 1.2rem;
    color: #332B2A;
    background-color: #FFD5D0;
    display: none;
    font-family: "Bagel Fat One", sans-serif;
    font-size: 2rem;
}

button:hover {
    color: #332B2A;
    background-color: #FFF2F0;
}
